@model blogPostTest.Models.Post

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PostId" />
            <div class="form-group">
                <label asp-for="PostUsrId" class="control-label"></label>
                <select asp-for="PostUsrId" class="form-control" asp-items="ViewBag.PostUsrId"></select>
                <span asp-validation-for="PostUsrId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostTitle" class="control-label"></label>
                <input asp-for="PostTitle" class="form-control" />
                <span asp-validation-for="PostTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostContent" class="control-label"></label>
                <input asp-for="PostContent" class="form-control" />
                <span asp-validation-for="PostContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostSummary" class="control-label"></label>
                <input asp-for="PostSummary" class="form-control" />
                <span asp-validation-for="PostSummary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostCreated" class="control-label"></label>
                <input asp-for="PostCreated" class="form-control" />
                <span asp-validation-for="PostCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostPublished" class="control-label"></label>
                <input asp-for="PostPublished" class="form-control" />
                <span asp-validation-for="PostPublished" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostUpdated" class="control-label"></label>
                <input asp-for="PostUpdated" class="form-control" />
                <span asp-validation-for="PostUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostStatus" class="control-label"></label>
                <input asp-for="PostStatus" class="form-control" />
                <span asp-validation-for="PostStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
