@model blogPostTest.Models.PermissionByProfile

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PermissionByProfile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PbpId" />
            <div class="form-group">
                <label asp-for="PbpPermId" class="control-label"></label>
                <select asp-for="PbpPermId" class="form-control" asp-items="ViewBag.PbpPermId"></select>
                <span asp-validation-for="PbpPermId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PbpProfId" class="control-label"></label>
                <select asp-for="PbpProfId" class="form-control" asp-items="ViewBag.PbpProfId"></select>
                <span asp-validation-for="PbpProfId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
